body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home {
  width: 100%;
  min-height: 100vh;
  background: #f5f7fa;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  color: #1faf8b;
}

.nav-links span {
  margin: 0 15px;
  cursor: pointer;
}

.nav-actions {
  display: flex;
  gap: 10px;
}

.login-btn {
  background: none;
  border: none;
  color: #1faf8b;
  cursor: pointer;
}

/* Buttons */
.primary-btn {
  background: #1faf8b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.outline-btn {
  border: 2px solid #1faf8b;
  color: #1faf8b;
  background: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
}

.hero-left {
  max-width: 500px;
}

.tag {
  background: #e6f7f3;
  padding: 8px 12px;
  border-radius: 20px;
  display: inline-block;
  color: #1faf8b;
}

.hero-left h1 {
  font-size: 40px;
}

.hero-left span {
  color: #1faf8b;
}

.desc {
  margin: 20px 0;
  color: gray;
}

.buttons {
  display: flex;
  gap: 15px;
}

.hero-right img {
  width: 400px;
  border-radius: 20px;
}

.nav-links span {
  margin: 0 15px;
  cursor: pointer;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #1faf8b;
}
